{% extends "exercise_template.html" %}

{% block extra_imports %}
    <script src="{{ url_for('static', filename='js/code-formatter.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/code-executer.js') }}" defer></script>
{% endblock %}

{% block body_content %}
  <div style="display: flex; flex-direction: column; margin-bottom: 30px">
    <textarea data-language="js" style="height: 200px; font-size: 20px"></textarea>
    <button data-execute-language="js" data-execute-callback="runJs">Execute JS</button>
  </div>

  <div style="font-size: 25px; color: green">when you put your mouse cursor over the blue box make it red, when you take the mouse cursor out of the box, make it blue</div>

  <div id="box"></div>
{% endblock %}
