<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ stylesheet }}" />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='images/favicon.jpg') }}"
            type="image/x-icon"
        />
        <script src="{{ url_for('static', filename='js/code-formatter.js') }}" defer></script>
        <script src="{{ script }}" defer></script>
        <title>Exercise 9</title>
    </head>

    <body>
        <div style="display: flex; flex-direction: column; margin-bottom: 30px">
            <textarea data-extension="js" style="height: 200px" id="code-area"></textarea>
            <button id="run-code">Execute JS</button>
        </div>
        <button id="refresh-price-button">Update BitCoin price</button>
        <div id="result">Press the button to get the latest price</div>
    </body>
</html>
