{% extends "exercise_template.html" %}

{% block extra_imports %}
    <script src="{{ url_for('static', filename='js/code-formatter.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/code-executer.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/python-controller.js') }}" defer></script>
{% endblock %}

{% block body_content %}
  <div style="display: flex; flex-direction: column; margin-bottom: 30px">
    <textarea data-language="py" style="height: 200px; font-size: 20px"></textarea>
    <button data-execute-language="py" data-execute-callback="runPython">Execute Python</button>
  </div>

  <h1></h1>

  <div id="code-result"></div>
{% endblock %}
