body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px
}

textarea {
    width: 599px;
    height: 200px;
    padding: 0;
    border: 1px solid black;
}

#query-result {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

#initial-data {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

table {
    margin: 0 5px;
}

.error {
    color: red;
}