{% extends "project-template.html" %}

{% block extra_imports %}
{% endblock %}

{% block body_content %}
    <div id="code-area">
        <textarea id="code-viewer"></textarea>

        <button id="code-runner"></button>

        <div id="code-result"></div>

        <div id="environment-setup"></div>
    </div>
    <h1>Ciprian Dragoe</h1>
    <div>Tara: Middle Earth</div>
    <div>Strada Intergalactica</div>
    <div>Numarul: 42</div>
    <div>Limbi cunoscute:</div>
    <ol>
        <li>Romanian</li>
        <li>Klingonian</li>
    </ol>
    <br/>
    <br/>
    <br/>
    <p><i>Educatie:</i></p>
    <ul>
        <li>Lupte cu lightsaber-ul la universitatea din Mordor</li>
        <li>Modelare in lut la universitatea de Metal</li>
    </ul>
    <div><u>Experienta de Lucru</u></div>
    <table>
        <tr>
            <td>Loc de munca</td>
            <td>Perioada</td>
        </tr>
        <tr>
            <td>Copernicus Inc</td>
            <td>1008-1009</td>
        </tr>
        <tr>
            <td>Freelancing</td>
            <td>1009-2100</td>
        </tr>
        <tr>
            <td>Programare</td>
            <td>2100-Prezent</td>
        </tr>
    </table>

{% endblock %}
