{% extends "project-template.html" %}

{% block extra_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/layout-dom-manipulation.css') }}"/>
{% endblock %}

{% block body_content %}
    <div id="code-area">
        <textarea id="code-viewer"></textarea>

        <button id="code-runner"></button>

        <div id="code-result"></div>

        <div id="environment-setup"></div>
    </div>

  <div style="font-size: 25px; color: green">whenever you type something in the input box, say if it is an even or odd number (or not a number at all)</div>

  <input
      id="special-input"
      placeholder="enter a number to see if it even of odd"
      style="width: 300px"
  />
  <div id="code-result"></div>
{% endblock %}
