{% extends "exercise_template.html" %}

{% block extra_imports %}
    <script src="{{ url_for('static', filename='js/code-formatter.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/code-executer.js') }}" defer></script>
{% endblock %}

{% block body_content %}
  <div style="display: flex; flex-direction: column; margin-bottom: 30px">
    <textarea data-language="js" style="height: 200px; font-size: 20px"></textarea>
    <button data-execute-language="js" data-execute-callback="runJs">Execute JS</button>
  </div>

  <div style="font-size: 25px; color: green">whenever you type something in the input box, say if it is an even or odd number (or not a number at all)</div>

  <input
      id="special-input"
      placeholder="enter a number to see if it even of odd"
      style="width: 300px"
  />
  <div id="result"></div>
{% endblock %}
