<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='images/favicon.jpg') }}"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/admin-login.css') }}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <form method="post">
      <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
</body>
</html>
