<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}" type="image/x-icon"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/admin-dashboard.css') }}">
  <script src="/static/js/admin-dashboard.js" defer></script>
  <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Admin Dashboard</a>
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link text-danger" href="/admin/logout">Logout & delete all student files<span class="sr-only">(current)</span></a>
          </li>
        </ul>
    </nav>

    <div id="active-exercises"></div>
</body>
</html>
