<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if upgrade_to_https %}
            <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}" type="image/x-icon"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/code-area.css') }}"/>
    <link rel="stylesheet" href="/static/starter-projects/{{ template }}/index.css"/>
    <link rel="stylesheet" href="/static/style/project-template.css"/>

    <script type="module" src="{{ url_for('static', filename='js/codeContainer/main.js') }}" defer></script>
    <script src="/static/starter-projects/{{ template }}/index.js" defer></script>
    {% block extra_imports %}{% endblock %}

    <title>Learn</title>
</head>
<body>
    {% block body_content %}{% endblock %}
    <img id="logo" src="/static/images/logo.jpg">
</body>
</html>
